/* Poppins Font */
@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Extra Light'),
    local('ClashDisplay-ExtraLight'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Extralight.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Light'),
    local('ClashDisplay-Light'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Light.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Regular'),
    local('ClashDisplay-Regular'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Medium'),
    local('ClashDisplay-Medium'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Semi Bold'),
    local('ClashDisplay-SemiBold'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ClashDisplay';
  src:
    local('ClashDisplay Bold'),
    local('ClashDisplay-Bold'),
    url('../../assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Thin';
  src:
    local('Archivo Thin'),
    local('Archivo-Thin'),
    url('../../assets/fonts/Archivo/Archivo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-ThinItalic';
  src:
    local('Archivo Thin Italic'),
    local('Archivo-ThinItalic'),
    url('../../assets/fonts/Archivo/Archivo-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Light';
  src:
    local('Archivo Light'),
    local('Archivo-Light'),
    url('../../assets/fonts/Archivo/Archivo-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-LightItalic';
  src:
    local('Archivo Light Italic'),
    local('Archivo-LightItalic'),
    url('../../assets/fonts/Archivo/Archivo-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Regular';
  src:
    local('Archivo Regular'),
    local('Archivo-Regular'),
    url('../../assets/fonts/Archivo/Archivo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-RegularItalic';
  src:
    local('Archivo Regular Italic'),
    local('Archivo-RegularItalic'),
    url('../../assets/fonts/Archivo/Archivo-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Medium';
  src:
    local('Archivo Medium'),
    local('Archivo-Medium'),
    url('../../assets/fonts/Archivo/Archivo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-MediumItalic';
  src:
    local('Archivo Medium Italic'),
    local('Archivo-MediumItalic'),
    url('../../assets/fonts/Archivo/Archivo-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-Bold';
  src:
    local('Archivo Bold'),
    local('Archivo-Bold'),
    url('../../assets/fonts/Archivo/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-BoldItalic';
  src:
    local('Archivo Bold Italic'),
    local('Archivo-BoldItalic'),
    url('../../assets/fonts/Archivo/Archivo-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-SemiBold';
  src:
    local('Archivo Semi Bold'),
    local('Archivo-SemiBold'),
    url('../../assets/fonts/Archivo/Archivo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo-SemiBoldItalic';
  src:
    local('Archivo Semi Bold Italic'),
    local('Archivo-SemiBoldItalic'),
    url('../../assets/fonts/Archivo/Archivo-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {    
  font-family: 'Archivo-Bold';
  src:
    local('Archivo Bold'),
    local('Archivo-Bold'),
    url('../../assets/fonts/Archivo/Archivo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {    
  font-family: 'Archivo-BoldItalic';
  src:
    local('Archivo Bold Italic'),
    local('Archivo-BoldItalic'),
    url('../../assets/fonts/Archivo/Archivo-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {    
  font-family: 'Archivo-Black ';
  src:
    local('Archivo Black'),
    local('Archivo-Black'),
    url('../../assets/fonts/Archivo/Archivo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {    
  font-family: 'Archivo-BlackItalic';
  src:
    local('Archivo Black Italic'),
    local('Archivo-BlackItalic'),
    url('../../assets/fonts/Archivo/Archivo-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}